In [4]:
# Import modules
import numpy as np
import pandas as pd

In [5]:
# Load csv & display some basic details
properties = pd.read_csv('properties.csv', header=0)
#display(properties.head())
#display(properties.tail())
display(properties.shape)
#display(properties.columns.tolist())

(11992, 22)

In [12]:
# Clean boolean & NaN values as binary
# Iterate through rows, then columns
for ind , row in properties.iterrows():
    for column in properties.columns:
        
# Replace booleans with 0 or 1      
        if row[column] == False:
            properties.at[ind , column] = 0
        elif row[column] == True:
            properties.at[ind , column] = 1
            
           
# If NaN is inplace, replace with a 0. Assume that if the data is not entered, the property does not have the attribute.           
properties.fillna(0, inplace=True)

# Delete type_of_sale since the entire column's data is the same.
try:
    properties = properties.drop('type of sale', axis=1)
except:
    pass

# Clean kitchen data
for index, row in properties.iterrows():
    if row['fully equipped kitchen'] == 'usa_uninstalled' or row['fully equipped kitchen'] == 'not_installed' or row['fully equipped kitchen'] == '0': 
        properties.at[index , 'fully equipped kitchen'] = 0
    elif row['fully equipped kitchen'] != 0:
        properties.at[index , 'fully equipped kitchen'] = 1

# Clean rennovation data
for index, row in properties.iterrows():
    if row['state of the building'] == 'to_be_done_up' or row['state of the building'] == 'to_renovate' or row['state of the building'] == 'to_restore':
        properties.at[index , 'state of the building'] = 'needs renovating'
    elif row['state of the building'] == 0:
        properties.at[index , 'state of the building'] = str('no data')
    else:
        pass

# Swap province and locality columns
prop_colummns = properties.columns.tolist()
prop_colummns[3] , prop_colummns[4] = prop_colummns[4] , prop_colummns[3]
properties = properties[prop_colummns]
 
# Sort rows by postcode
properties = properties.sort_values(by='postalCode')
pd.set_option('display.max_columns', 100)  
pd.set_option('display.max_rows', 20) 

# Confirm there are no duplicated rows
print(properties.loc[properties.duplicated(), :])

"""# Replace string-values with values
for index, row in properties.iterrows():
    for column in properties.columns:
        value = row[column]
        if type(value) == str and value.isdigit():
            properties.at[index, column] = int(value)
        if type(value) == float:
            properties.at[index, column] = int(value)"""

# Change value column type to values
for column in properties.columns[6:20]:
    properties[column] = properties[column].astype(int)


properties

Empty DataFrame
Columns: [id, type of property, subtype of property, province, locality, postalCode, price, number of bedrooms, living area, fully equipped kitchen, furnished, open fire, terrace, terrace area, garden, garden area, total property area, total land area, number of facades, swimming pool, state of the building]
Index: []

,id,type of property,subtype of property,province,locality,postalCode,price,number of bedrooms,living area,fully equipped kitchen,furnished,open fire,terrace,terrace area,garden,garden area,total property area,total land area,number of facades,swimming pool,state of the building
1114,10640355,APARTMENT,APARTMENT,Brussels,Bruxelles,1000,310000,1,35,1,0,0,0,0,0,0,69,0,2,0,just_renovated
1242,10449929,APARTMENT,APARTMENT,Brussels,Bruxelles,1000,550000,3,0,1,0,1,1,10,0,0,108,0,0,0,good
2608,10462628,APARTMENT,APARTMENT,Brussels,BRUXELLES,1000,393000,2,0,1,0,1,1,8,0,0,96,0,2,0,good
1171,10183530,APARTMENT,APARTMENT,Brussels,Brussels City,1000,375000,2,0,1,1,0,1,25,0,0,95,0,2,0,good
1177,10070305,APARTMENT,FLAT_STUDIO,Brussels,Bruxelles,1000,385000,0,0,1,1,0,0,0,0,0,55,0,2,0,as_new
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8069,10563918,APARTMENT,APARTMENT,East Flanders,Maldegem,9990,240000,1,20,1,0,0,1,8,1,0,68,0,0,0,no data
3004,10648690,HOUSE,HOUSE,East Flanders,Adegem,9991,399000,4,0,1,0,1,1,0,0,0,206,5239,4,0,needs renovating
11523,10658294,HOUSE,HOUSE,East Flanders,Maldegem,9991,345000,3,0,0,0,0,0,0,1,0,175,766,4,0,needs renovating
10388,10661746,HOUSE,HOUSE,East Flanders,Maldegem,9991,345000,3,0,0,0,0,0,0,1,0,175,766,4,0,needs renovating
10194,10634589,HOUSE,VILLA,East Flanders,Maldegem,9992,1295000,4,0,1,0,0,1,0,1,0,333,2846,0,1,as_new

In [17]:
# Check distribution of unique values in each column
for column in properties.columns:
    column_data = properties[column]
    value_counts = column_data.value_counts()
    print(value_counts , '\n')

id
10640355    1
10547722    1
10669714    1
10281099    1
10678165    1
           ..
10619498    1
10546424    1
8822156     1
10628821    1
10634589    1
Name: count, Length: 11992, dtype: int64

type of property
APARTMENT    5997
HOUSE        5995
Name: count, dtype: int64

subtype of property
APARTMENT          4548
HOUSE              4088
VILLA               801
DUPLEX              427
APARTMENT_BLOCK     314
                   ...
FARMHOUSE            20
KOT                  18
CHALET               14
OTHER_PROPERTY       11
CASTLE               10
Name: count, Length: 23, dtype: int64

province
Brussels           2470
West Flanders      2247
East Flanders      1347
Antwerp            1274
Liège              1192
Flemish Brabant    1169
Hainaut             717
Walloon Brabant     687
Luxembourg          421
Namur               334
Limburg             133
0                     1
Name: count, dtype: int64

locality
Uccle                379
Knokke-Heist         320
Ixelles              304
Antwerp              268
Bruxelles            260
                    ...
Fays-les-veneurs       1
Beaufays               1
Léglise Assenois       1
Mellier (Léglise)      1
Adegem                 1
Name: count, Length: 1674, dtype: int64

postalCode
8300    491
1180    382
1000    357
1050    316
8400    225
       ...
3581      1
7350      1
4840      1
3580      1
9992      1
Name: count, Length: 841, dtype: int64

price
299000    210
395000    162
249000    162
199000    158
495000    156
         ...
497000      1
747000      1
427000      1
463000      1
263668      1
Name: count, Length: 1098, dtype: int64

number of bedrooms
2     3592
3     3507
4     1833
1     1257
5      883
      ...
25       2
21       1
24       1
18       1
46       1
Name: count, Length: 24, dtype: int64

living area
0       5639
30       431
40       374
35       297
32       267
        ...
3558       1
170        1
199        1
212        1
112        1
Name: count, Length: 124, dtype: int64

fully equipped kitchen
1    9234
0    2758
Name: count, dtype: int64

furnished
0    11408
1      584
Name: count, dtype: int64

open fire
0    7919
1    4073
Name: count, dtype: int64

terrace
1    8477
0    3515
Name: count, dtype: int64

terrace area
0      6635
20      341
10      317
30      266
6       229
       ...
183       1
707       1
326       1
196       1
140       1
Name: count, Length: 165, dtype: int64

garden
0    7599
1    4393
Name: count, dtype: int64

garden area
0       9076
100      101
50        70
200       69
60        66
        ...
101        1
141        1
162        1
144        1
1635       1
Name: count, Length: 767, dtype: int64

total property area
0       297
100     191
150     189
120     186
110     180
       ...
1173      1
575       1
549       1
845       1
581       1
Name: count, Length: 608, dtype: int64

total land area
0         6252
100         44
110         40
200         36
180         35
          ...
1534         1
1324         1
993          1
114000       1
2846         1
Name: count, Length: 1897, dtype: int64

number of facades
2     4660
0     2716
4     2516
3     2049
1       44
6        3
5        2
25       2
Name: count, dtype: int64

swimming pool
0    11590
1      402
Name: count, dtype: int64

state of the building
good                4443
as_new              3046
needs renovating    2281
no data             1433
just_renovated       789
Name: count, dtype: int64