In [1]:
# Import modules
import numpy as np
import pandas as pd

In [2]:
# Load csv & display some basic details
properties = pd.read_csv('properties.csv', header=0)
display(properties.head())
#display(properties.tail())
display(properties.shape)
#display(properties.columns.tolist())

,id,type of property,subtype of property,locality,province,postalCode,price,type of sale,number of bedrooms,living area,...,open fire,terrace,terrace area,garden,garden area,total property area,total land area,number of facades,swimming pool,state of the building
0,10679324,HOUSE,HOUSE,Seraing,Liège,4100,159000,residential_sale,3,14,...,False,True,64.0,True,106.0,87.0,145.0,2.0,False,just_renovated
1,10679325,HOUSE,HOUSE,Vise,Liège,4600,229000,residential_sale,3,19,...,False,True,136.0,NaN,NaN,145.0,184.0,3.0,False,good
2,10679351,HOUSE,VILLA,Vilvoorde,Flemish Brabant,1800,430000,residential_sale,3,17,...,False,True,40.0,True,400.0,132.0,623.0,3.0,False,good
3,10679090,HOUSE,HOUSE,Oudenaarde,East Flanders,9700,439000,residential_sale,2,21,...,False,True,25.0,True,420.0,161.0,680.0,4.0,False,as_new
4,10678835,HOUSE,HOUSE,Dilbeek,Flemish Brabant,1700,529000,residential_sale,4,29,...,False,True,NaN,NaN,NaN,315.0,8002.0,3.0,False,to_renovate

(11992, 22)

In [16]:
# Clean boolean & NaN values as binary
# Iterate through rows, then columns
for ind , row in properties.iterrows():
    for column in properties.columns:
        
# Replace booleans with 0 or 1        
        if row[column] == False:
            properties.at[ind , column] = 0
        elif row[column] == True:
            properties.at[ind, column] = 1
            
# Replace if NaN is inplace, replace with a 0            
properties.fillna(0, inplace=True)

# Replace

# Swap province and locality columns
prop_colummns = properties.columns.tolist()
prop_colummns[3] , prop_colummns[4] = prop_colummns[4] , prop_colummns[3]
properties = properties[prop_colummns]

# Sort rows by postcode
properties = properties.sort_values(by='postalCode')
pd.set_option('display.max_columns', 100)  
pd.set_option('display.max_rows', 20) 
properties

,id,type of property,subtype of property,province,locality,postalCode,price,type of sale,number of bedrooms,living area,fully equipped kitchen,furnished,open fire,terrace,terrace area,garden,garden area,total property area,total land area,number of facades,swimming pool,state of the building
1114,10640355,APARTMENT,APARTMENT,Brussels,Bruxelles,1000,310000,residential_sale,1,35,hyper_equipped,0,0,0,0.0,0,0.0,69.0,0.0,2.0,0,just_renovated
1880,10280075,HOUSE,HOUSE,Brussels,Bruxelles,1000,325000,residential_sale,1,30,usa_hyper_equipped,1,0,1,11.0,0,0.0,77.0,88.0,2.0,0,as_new
1723,10664414,APARTMENT,PENTHOUSE,Brussels,Bruxelles,1000,795000,residential_sale,2,0,hyper_equipped,0,0,1,50.0,0,0.0,155.0,0.0,0.0,0,as_new
1720,10658068,APARTMENT,GROUND_FLOOR,Brussels,Bruxelles,1000,420000,residential_sale,3,35,usa_hyper_equipped,0,0,0,0.0,0,0.0,129.0,0.0,2.0,0,as_new
1839,10598547,APARTMENT,FLAT_STUDIO,Brussels,Bruxelles,1000,212000,residential_sale,0,0,installed,0,1,0,0.0,0,0.0,34.0,0.0,0.0,0,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4331,10673781,HOUSE,HOUSE,East Flanders,Maldegem,9990,429000,residential_sale,4,0,hyper_equipped,0,0,0,0.0,1,0.0,161.0,130.0,3.0,0,as_new
10388,10661746,HOUSE,HOUSE,East Flanders,Maldegem,9991,345000,residential_sale,3,0,0,0,0,0,0.0,1,0.0,175.0,766.0,4.0,0,to_renovate
3004,10648690,HOUSE,HOUSE,East Flanders,Adegem,9991,399000,residential_sale,4,0,semi_equipped,0,1,1,0.0,0,0.0,206.0,5239.0,4.0,0,to_renovate
11523,10658294,HOUSE,HOUSE,East Flanders,Maldegem,9991,345000,residential_sale,3,0,0,0,0,0,0.0,1,0.0,175.0,766.0,4.0,0,to_renovate
10194,10634589,HOUSE,VILLA,East Flanders,Maldegem,9992,1295000,residential_sale,4,0,hyper_equipped,0,0,1,0.0,1,0.0,333.0,2846.0,0.0,1,as_new

In [4]:
localities = properties['province'].unique()

printed_locations = set()

for location in localities:
    if location not in printed_locations:
        print(location)
        printed_locations.add(location)

Liège
Flemish Brabant
East Flanders
Walloon Brabant
Brussels
Antwerp
Namur
West Flanders
Luxembourg
Hainaut
Limburg
0