## Data Cleaning
The purpose of this notebook is to adequately clean my output of scraped properties into a workable data frame that I can analyse. My reasoning for each decisions is explained per block of code below. 

The following two codeblocks import the necessary modules and read the csv file, also displaying some features to confirm the file is correctly read.

In [1]:
# Import modules
import numpy as np
import pandas as pd

In [2]:
# Load csv & display some basic details
properties = pd.read_csv('properties.csv', header=0)
#display(properties.head())
#display(properties.tail())
display(properties.shape)
#display(properties.columns.tolist())
properties.head()

(11992, 22)

,id,type of property,subtype of property,locality,province,postalCode,price,type of sale,number of bedrooms,living area,...,open fire,terrace,terrace area,garden,garden area,total property area,total land area,number of facades,swimming pool,state of the building
0,10679324,HOUSE,HOUSE,Seraing,Liège,4100,159000,residential_sale,3,14,...,False,True,64.0,True,106.0,87.0,145.0,2.0,False,just_renovated
1,10679325,HOUSE,HOUSE,Vise,Liège,4600,229000,residential_sale,3,19,...,False,True,136.0,NaN,NaN,145.0,184.0,3.0,False,good
2,10679351,HOUSE,VILLA,Vilvoorde,Flemish Brabant,1800,430000,residential_sale,3,17,...,False,True,40.0,True,400.0,132.0,623.0,3.0,False,good
3,10679090,HOUSE,HOUSE,Oudenaarde,East Flanders,9700,439000,residential_sale,2,21,...,False,True,25.0,True,420.0,161.0,680.0,4.0,False,as_new
4,10678835,HOUSE,HOUSE,Dilbeek,Flemish Brabant,1700,529000,residential_sale,4,29,...,False,True,NaN,NaN,NaN,315.0,8002.0,3.0,False,to_renovate

I setup this loop so I could check the value counts for each column and see which data would need to be subsequently cleaned.

Some issues that I can see in the output are:
* A significant quantity of data is missing for some columns, output as 0 values, '0' strings, or NaNs
  * I can detect the presence of NaNs because the total output of each column doesn't always sum to 11992
* The numerical data across the dataframe is a mix of integers and floats
* The 'type of sale' column contains the same output on every row
* The 'fully equipped kitchen' and 'state of the building' columns contain a lot of similarly descriptive strings that could be condensed
* I will need to choose for each column how to treat the NaN data and what assumptions I can make

In [3]:
# Check distribution of unique values in each column
for column in properties.columns:
    column_data = properties[column]
    value_counts = column_data.value_counts()
    print(value_counts , '\n')

id
10679324    1
10524448    1
10461691    1
10638237    1
10356861    1
           ..
10679187    1
10679188    1
10679410    1
10678647    1
10565540    1
Name: count, Length: 11992, dtype: int64

type of property
APARTMENT    5997
HOUSE        5995
Name: count, dtype: int64

subtype of property
APARTMENT               4548
HOUSE                   4088
VILLA                    801
DUPLEX                   427
APARTMENT_BLOCK          314
PENTHOUSE                308
GROUND_FLOOR             268
MIXED_USE_BUILDING       240
FLAT_STUDIO              228
EXCEPTIONAL_PROPERTY     150
MANSION                  129
LOFT                      86
COUNTRY_COTTAGE           76
SERVICE_FLAT              74
TOWN_HOUSE                73
BUNGALOW                  47
TRIPLEX                   40
MANOR_HOUSE               22
FARMHOUSE                 20
KOT                       18
CHALET                    14
OTHER_PROPERTY            11
CASTLE                    10
Name: count, dtype: int64

locality
Uccle                 379
Knokke-Heist          320
Ixelles               304
Antwerp               268
Bruxelles             260
                     ...
Sint-Genesius-Rode      1
BIERGHES                1
Kallo                   1
Vresse-sur-Semois       1
Aaigem                  1
Name: count, Length: 1674, dtype: int64

province
Brussels           2470
West Flanders      2247
East Flanders      1347
Antwerp            1274
Liège              1192
Flemish Brabant    1169
Hainaut             717
Walloon Brabant     687
Luxembourg          421
Namur               334
Limburg             133
Name: count, dtype: int64

postalCode
8300    491
1180    382
1000    357
1050    316
8400    225
       ...
4700      1
4980      1
6661      1
8950      1
5363      1
Name: count, Length: 841, dtype: int64

price
299000     210
395000     162
249000     162
199000     158
495000     156
          ...
449990       1
409724       1
363293       1
4790000      1
1165000      1
Name: count, Length: 1098, dtype: int64

type of sale
residential_sale    11992
Name: count, dtype: int64

number of bedrooms
2     3592
3     3507
4     1833
1     1257
5      883
6      390
0      222
7      127
8       75
9       29
10      26
12      15
17       8
11       6
13       5
14       3
16       3
15       3
25       2
27       2
21       1
18       1
46       1
24       1
Name: count, dtype: int64

living area
0       5639
30       431
40       374
35       297
32       267
        ...
121        1
104        1
96         1
3558       1
140        1
Name: count, Length: 124, dtype: int64

fully equipped kitchen
installed             4332
0                     2223
hyper_equipped        2040
semi_equipped         1419
usa_hyper_equipped     967
not_installed          527
usa_installed          361
usa_semi_equipped      115
usa_uninstalled          8
Name: count, dtype: int64

furnished
False    5578
True      584
Name: count, dtype: int64

open fire
False    7919
True     4073
Name: count, dtype: int64

terrace
True    8477
Name: count, dtype: int64

terrace area
20.0     341
10.0     317
30.0     266
6.0      229
15.0     224
        ...
183.0      1
171.0      1
159.0      1
273.0      1
113.0      1
Name: count, Length: 164, dtype: int64

garden
True    4393
Name: count, dtype: int64

garden area
100.0     101
50.0       70
200.0      69
60.0       66
300.0      62
         ...
609.0       1
906.0       1
2288.0      1
442.0       1
377.0       1
Name: count, Length: 766, dtype: int64

total property area
100.0     191
150.0     189
120.0     186
110.0     180
90.0      166
         ...
1500.0      1
401.0       1
557.0       1
502.0       1
649.0       1
Name: count, Length: 607, dtype: int64

total land area
0.0       3534
100.0       44
110.0       40
200.0       36
180.0       35
          ...
1647.0       1
4416.0       1
2873.0       1
4827.0       1
507.0        1
Name: count, Length: 1897, dtype: int64

number of facades
2.0     4660
4.0     2516
3.0     2049
0.0       57
1.0       44
6.0        3
5.0        2
25.0       2
Name: count, dtype: int64

swimming pool
False    6278
True      402
Name: count, dtype: int64

state of the building
good              4443
as_new            3046
0                 1433
to_be_done_up     1194
to_renovate       1038
just_renovated     789
to_restore          49
Name: count, dtype: int64

I can confirm that there are no duplicated rows by using the duplicated and any methods on my dataframe to make a new dataframe that labels every unique row as false, and any subsequent duplicates as true.

In [4]:
# Confirm there are no duplicated rows
duplicates = properties['id'].duplicated().any()
if duplicates:
    print("Some rows are duplicated")
else:
    print("Every row is unique")

Every row is unique

All True and False booleans are converted to binary for easier data manipulation.

In [5]:
# Iterate through rows, then columns and replace booleans with binary
for ind , row in properties.iterrows():
    for column in properties.columns:   
        if row[column] == False:
            properties.at[ind , column] = 0
        elif row[column] == True:
            properties.at[ind , column] = 1

The 'swimming pool' column's empty values are replaced with 0s. 

Since I think that a swimming pool is a **big** selling point for a house, it would be fair to assume that any property that doesn't have a swimming pool listed wouldn't be likely to have a swimming pool at all.

In [6]:
# If NaN is inplace, replace with a 0. Assume that if the data is not entered, the property does not have the attribute.           
properties['swimming pool'].fillna(0, inplace=True)

I have deleted the 'type of sale' column because every single row has the same value, rendering it useless.

In [7]:
# Delete type_of_sale since the entire column's data is the same.
try:
    properties = properties.drop('type of sale', axis=1)
except:
    pass

For kitchen data, I have cleaned any fully installed outputs by replacing them with 1s, I have replaced '0' strings with nan for no data, and I have replaced anything else with 0s since the kitchen is not *fully* equipped.

In [8]:
# Clean kitchen data
for index, row in properties.iterrows():
        if row['fully equipped kitchen'] == 'usa_installed' or row['fully equipped kitchen'] == 'installed' or row['fully equipped kitchen'] == 'hyper_equipped' or row['fully equipped kitchen'] == 'usa_hyper_equipped': 
            properties.at[index , 'fully equipped kitchen'] = 1
        elif row['fully equipped kitchen'] == '0':
            properties.at[index , 'fully equipped kitchen'] = np.nan            
        elif row['fully equipped kitchen'] != np.nan and row['fully equipped kitchen'] != 1:
            properties.at[index , 'fully equipped kitchen'] = 0

For renovation data I have replaced any unrenovated status with 'needs renovating' and the binary 0 values with nan for no data. The other renovation statuses have stayed the same.

In [9]:
# Clean renovation data
for index, row in properties.iterrows():
    if row['state of the building'] == 'to_be_done_up' or row['state of the building'] == 'to_renovate' or row['state of the building'] == 'to_restore':
        properties.at[index , 'state of the building'] = 'needs renovating'
    elif row['state of the building'] == 0:
        properties.at[index , 'state of the building'] = np.nan
    else:
        pass

I chose to swap the province and locality columns position because it made more sense to me to read the province then locality from left to right.

In [10]:
# Swap province and locality columns
prop_colummns = properties.columns.tolist()
prop_colummns[3] , prop_colummns[4] = prop_colummns[4] , prop_colummns[3]
properties = properties[prop_colummns]

I chose to sort the dataframe by postcode so the dataframe was neater visually.

In [11]:
# Sort rows by postcode
properties = properties.sort_values(by='postalCode')

I have then filled the empty data in the dataframe 'x' and changed the numeric column types to integers. To do this I had to convert the na values to an unused integer to avoid string errors while changing the column types to int, then change the -1 to an 'x'.

In [12]:
# Replace nan values with temporary -1
properties = properties.fillna('-1')

# Change numberic column types to int. Use try and except to ignore repeat runs of code.
try:
    for column in properties.columns[5:20]:
        properties[column] = properties[column].astype("int")
except:
    pass

# Return -1 to 'x'
for column in properties.columns:
    for index, value in properties[column].items():
        if value == -1:
            properties.at[index, column] = 'x'
properties

,id,type of property,subtype of property,province,locality,postalCode,price,number of bedrooms,living area,fully equipped kitchen,...,open fire,terrace,terrace area,garden,garden area,total property area,total land area,number of facades,swimming pool,state of the building
1114,10640355,APARTMENT,APARTMENT,Brussels,Bruxelles,1000,310000,1,35,1,...,0,x,x,x,x,69,0,2,0,just_renovated
1171,10183530,APARTMENT,APARTMENT,Brussels,Brussels City,1000,375000,2,0,1,...,0,1,25,x,x,95,0,2,0,good
1177,10070305,APARTMENT,FLAT_STUDIO,Brussels,Bruxelles,1000,385000,0,0,1,...,0,x,x,x,x,55,0,2,0,as_new
1181,10614932,APARTMENT,APARTMENT,Brussels,Brussels City,1000,395000,2,0,1,...,1,1,4,x,x,92,0,x,0,good
330,10662541,APARTMENT,DUPLEX,Brussels,Bruxelles,1000,249000,1,30,1,...,0,x,x,x,x,90,0,2,0,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8936,10606912,HOUSE,HOUSE,East Flanders,Maldegem,9990,395000,4,0,1,...,0,x,x,1,x,196,685,3,0,as_new
11523,10658294,HOUSE,HOUSE,East Flanders,Maldegem,9991,345000,3,0,x,...,0,x,x,1,x,175,766,4,0,needs renovating
10388,10661746,HOUSE,HOUSE,East Flanders,Maldegem,9991,345000,3,0,x,...,0,x,x,1,x,175,766,4,0,needs renovating
3004,10648690,HOUSE,HOUSE,East Flanders,Adegem,9991,399000,4,0,0,...,1,1,x,x,x,206,5239,4,0,needs renovating
10194,10634589,HOUSE,VILLA,East Flanders,Maldegem,9992,1295000,4,0,1,...,0,1,x,1,x,333,2846,x,1,as_new

I run this code to quickly scan for any newly unexpected values, and I see a -1 in provinces

In [13]:
# Check distribution of unique values in each column
for column in properties.columns:
    column_data = properties[column]
    value_counts = column_data.value_counts()
    print(value_counts , '\n')

id
10640355    1
10547722    1
10669714    1
10281099    1
10678165    1
           ..
10136277    1
10612290    1
10622744    1
10628821    1
10634589    1
Name: count, Length: 11992, dtype: int64

type of property
APARTMENT    5997
HOUSE        5995
Name: count, dtype: int64

subtype of property
APARTMENT               4548
HOUSE                   4088
VILLA                    801
DUPLEX                   427
APARTMENT_BLOCK          314
PENTHOUSE                308
GROUND_FLOOR             268
MIXED_USE_BUILDING       240
FLAT_STUDIO              228
EXCEPTIONAL_PROPERTY     150
MANSION                  129
LOFT                      86
COUNTRY_COTTAGE           76
SERVICE_FLAT              74
TOWN_HOUSE                73
BUNGALOW                  47
TRIPLEX                   40
MANOR_HOUSE               22
FARMHOUSE                 20
KOT                       18
CHALET                    14
OTHER_PROPERTY            11
CASTLE                    10
Name: count, dtype: int64

province
Brussels           2470
West Flanders      2247
East Flanders      1347
Antwerp            1274
Liège              1192
Flemish Brabant    1169
Hainaut             717
Walloon Brabant     687
Luxembourg          421
Namur               334
Limburg             133
-1                    1
Name: count, dtype: int64

locality
Uccle           379
Knokke-Heist    320
Ixelles         304
Antwerp         268
Bruxelles       260
               ...
LANDENNE          1
Andenne Thon      1
NAMÈCHE           1
GROYNNE           1
Adegem            1
Name: count, Length: 1674, dtype: int64

postalCode
8300    491
1180    382
1000    357
1050    316
8400    225
       ...
3581      1
7350      1
4840      1
3580      1
9992      1
Name: count, Length: 841, dtype: int64

price
299000    210
395000    162
249000    162
199000    158
495000    156
         ...
649500      1
313800      1
372611      1
376855      1
596315      1
Name: count, Length: 1098, dtype: int64

number of bedrooms
2     3592
3     3507
4     1833
1     1257
5      883
6      390
0      222
7      127
8       75
9       29
10      26
12      15
17       8
11       6
13       5
14       3
16       3
15       3
27       2
25       2
21       1
24       1
18       1
46       1
Name: count, dtype: int64

living area
0       5639
30       431
40       374
35       297
32       267
        ...
112        1
79         1
389        1
3558       1
212        1
Name: count, Length: 124, dtype: int64

fully equipped kitchen
1    7700
x    2223
0    2069
Name: count, dtype: int64

furnished
x    5830
0    5578
1     584
Name: count, dtype: int64

open fire
0    7919
1    4073
Name: count, dtype: int64

terrace
1    8477
x    3515
Name: count, dtype: int64

terrace area
x      6635
20      341
10      317
30      266
6       229
       ...
183       1
707       1
326       1
196       1
140       1
Name: count, Length: 165, dtype: int64

garden
x    7599
1    4393
Name: count, dtype: int64

garden area
x       9076
100      101
50        70
200       69
60        66
        ...
217        1
641        1
2213       1
614        1
1635       1
Name: count, Length: 767, dtype: int64

total property area
x       297
100     191
150     189
120     186
110     180
       ...
575       1
608       1
558       1
1173      1
581       1
Name: count, Length: 608, dtype: int64

total land area
0         3534
x         2718
100         44
110         40
200         36
          ...
1534         1
1324         1
993          1
114000       1
2846         1
Name: count, Length: 1898, dtype: int64

number of facades
2     4660
x     2659
4     2516
3     2049
0       57
1       44
6        3
5        2
25       2
Name: count, dtype: int64

swimming pool
0    11590
1      402
Name: count, dtype: int64

state of the building
good                4443
as_new              3046
needs renovating    2281
0                   1433
just_renovated       789
Name: count, dtype: int64

I can run the below code to check whether anything in my data frame is -1 or np.nan

In [17]:
count_neg1 = properties[properties.eq(-1).any(axis=1)].shape[0]
count_nan = properties[properties.eq(np.nan).any(axis=1)].shape[0]
print(count_neg1, count_nan)

0 0

Since there is no -1, I assume the -1 is a string, and I run the below code to prune it, then run the check once more.

In [16]:
for column in properties.columns:
    for index, value in properties[column].items():
        if value == '-1':
            properties.at[index, column] = 'x'
            
count_neg1 = properties[properties.eq('-1').any(axis=1)].shape[0]
count_nan = properties[properties.eq(np.nan).any(axis=1)].shape[0]
print(count_neg1, count_nan)

0 0

I see that the -1 has been cleaned so my data set is now ready for exporting, and use!

In [ ]:
properties.to_csv('cleaned_output_x.csv', index=False)