In [15]:
# Autoload module updates
%load_ext autoreload
%autoreload 2

# Import modules
import numpy as np
import pandas as pd
import sklearn
import sys
sys.path.insert(0, '../')
import src.cleanupoutliers as cleanoutliers
properties = pd.read_csv('..\data\cleaned_output_2.csv', skip_blank_lines=True)
properties.head()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

,type of property,subtype of property,province,locality,postalCode,price,number of bedrooms,living area,fully equipped kitchen,furnished,open fire,terrace,terrace area,garden,garden area,total property area,total land area,number of facades,swimming pool,state of the building
0,HOUSE,HOUSE,Flemish Brabant,ZICHEM,3271.0,350000.0,3,0,1.0,0.0,1,1.0,25.0,1.0,0.0,140.0,2590.0,4.0,0,0
1,HOUSE,HOUSE,Antwerp,Nijlen,2560.0,389000.0,3,0,1.0,0.0,0,1.0,40.0,1.0,260.0,160.0,570.0,4.0,0,1
2,HOUSE,HOUSE,West Flanders,Oudenburg,8460.0,389000.0,3,0,1.0,0.0,1,0.0,0.0,0.0,0.0,133.0,347.0,3.0,0,1
3,HOUSE,HOUSE,West Flanders,Brugge,8000.0,389000.0,6,0,1.0,0.0,0,1.0,0.0,1.0,119.0,210.0,220.0,2.0,0,0
4,HOUSE,HOUSE,West Flanders,Blankenberge,8370.0,389000.0,3,0,1.0,1.0,1,1.0,17.0,0.0,0.0,222.0,111.0,2.0,0,1

In [16]:
# Convert properties to a numpy dataframe
properties = cleanup.drop_column(properties, ['type of property', 'subtype of property', 'province', 'locality', 'postalCode'])
X = properties.drop(columns=['price']).to_numpy()
y = properties['price'].to_numpy()
display(y)

array([ 350000.,  389000.,  389000., ...,  249900., 1400000.,  645000.])

In [17]:
# Import train_test_split
# Apply train_test_split to dataframe

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=133)

In [18]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
print("The score of the training set is", regressor.score(X_train, y_train))
print("The score of the testing set is", regressor.score(X_test, y_test))

The score of the training set is 0.49018313487705845
The score of the testing set is 0.49399055847565665

Below, I clean the data set of outliers.

In [19]:
# Manually clean outliers
# Set removal count to zero. Each clean will sum the amount of removed rows into removal_count


properties = cleanoutliers.clean_outliers(properties)

There are 201 properties with a value of more than 2,000,000â‚¬
There are 19 properties with more than 10 bedrooms.
There are 16 properties with a living area greater than 100sqm.
There are 20 properties with a total property area greater than 750sqm.
There are 19 properties with a total property land greater than 20000sqm.
There are 7 properties with a terrace area greater than 250sqm.
There are 3 properties with more than 4 facades.

285 outliers have been removed from the dataframe in total.

In [20]:
# Convert properties to a numpy dataframe
X = properties.drop(columns=['price']).to_numpy()
y = properties['price'].to_numpy()
display(y)

array([ 350000.,  389000.,  389000., ...,  990000., 1590000., 1250000.])

In [21]:
# Import train_test_split
# Apply train_test_split to dataframe

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=133)

In [22]:
# Fit and score model

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
print("The score of the training set is", regressor.score(X_train, y_train))
print("The score of the testing set is", regressor.score(X_test, y_test))

The score of the training set is 0.5033384000303467
The score of the testing set is 0.4491667230295061

In [23]:
# Predictor
y_pred = regressor.predict(X_test)

In [24]:
# Check regressor coefficients
coefficients= regressor.coef_
print(coefficients)
# Check regressor intercept
intercept = regressor.intercept_
print(intercept)

[ 1.80102335e+04  1.01426252e+03  1.06429931e+05  8.67421756e+04
 -4.44478171e+04  4.03154980e+04  4.99821329e+02 -4.65569324e+04
 -2.02148253e+00  1.76451281e+03  8.31359141e+00  7.26995420e+03
  1.12889805e+05  4.45143023e+04]
-74849.64945232106

In [25]:
# Manually create first prediction
print((X_test[0])*coefficients.sum()+ intercept)

# Check model's first prediction to compare vs. previous output
print(y_pred[0])
properties.head()

[ 9.10506468e+05  6.16573909e+06  2.53602390e+05 -7.48496495e+04
 -7.48496495e+04  2.53602390e+05  8.13645133e+06  2.53602390e+05
 -7.48496495e+04  4.09816552e+07  9.51762417e+07  5.82054429e+05
 -7.48496495e+04 -7.48496495e+04]
348651.02003626904

,price,number of bedrooms,living area,fully equipped kitchen,furnished,open fire,terrace,terrace area,garden,garden area,total property area,total land area,number of facades,swimming pool,state of the building
0,350000.0,3,0,1.0,0.0,1,1.0,25.0,1.0,0.0,140.0,2590.0,4.0,0,0
1,389000.0,3,0,1.0,0.0,0,1.0,40.0,1.0,260.0,160.0,570.0,4.0,0,1
2,389000.0,3,0,1.0,0.0,1,0.0,0.0,0.0,0.0,133.0,347.0,3.0,0,1
3,389000.0,6,0,1.0,0.0,0,1.0,0.0,1.0,119.0,210.0,220.0,2.0,0,0
4,389000.0,3,0,1.0,1.0,1,1.0,17.0,0.0,0.0,222.0,111.0,2.0,0,1

In [26]:
# Drop 'living area' from dataframe
properties = cleanup.drop_column(properties, 'living area')

In [27]:
# Redo and score the model
X = properties.drop(columns=['price']).to_numpy()
y = properties['price'].to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=133)
regressor.fit(X_train, y_train)
print("The score of the training set is", regressor.score(X_train, y_train))
print("The score of the testing set is", regressor.score(X_test, y_test))

The score of the training set is 0.4998630885729002
The score of the testing set is 0.4481283584090615